.body
  = render 'groups/shared/side_bar'
  .right-box
    .group-room
      .left-headbox
        .left-headname
          = @group.name
        .member-box
          .left-member
            Member:
            .in-member
              - @group.users.each do |user|
                = user.name
      .edit-btn
        = link_to edit_group_path(@group) do
          .p Edit
          -# %a Edit
    .group-chat
      = render partial: 'message', collection: @messages, as: :message
    .comment-bottom
      .chat-base
        = form_for [@group, @message] do |f|
          = f.text_field :content, class: 'chat-box', placeholder: 'type a message'
          .img-btn-box
            = f.label :image, class: 'img' do
              = fa_icon 'picture-o', class: 'image'
              = f.file_field :image, class: 'hidden'
          = f.submit 'Send', class: 'chat-send'


